@page
@model AuthzDeviceGateway.Pages.DebugModel
@{

}

<div>ID Token<div id="idToken"></div></div>
<div>Access Token<div id="accessToken"></div></div>
<div>Refresh Token<div id="refreshToken"></div></div>

<script>
    renderjson.set_icons('+', '-');
    let idToken = @Html.Raw(await CommonAuth.TokenHelpers.GetTokenPayloadAsync(
        this.HttpContext, "id_token"));
    let accessToken = @Html.Raw(await CommonAuth.TokenHelpers.GetTokenPayloadAsync(
        this.HttpContext, "access_token"));
    let refreshToken = @Html.Raw(await CommonAuth.TokenHelpers.GetTokenPayloadAsync(
        this.HttpContext, "refresh_token"));
    let level = 1;

    if (idToken) {
        renderjson.set_show_to_level(level);
        document.getElementById("idToken").appendChild(
            renderjson(idToken)
        );
        if (level > 0) level--;
    }

    if (accessToken) {
        renderjson.set_show_to_level(level);
        document.getElementById("accessToken").appendChild(
            renderjson(accessToken)
        );
        if (level > 0) level--;
    }

    if (refreshToken) {
        renderjson.set_show_to_level(level);
        document.getElementById("refreshToken").appendChild(
            renderjson(refreshToken)
        );
        if (level > 0) level--;
    }
</script>

