@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var name = User.Identity?.Name;
    var nameClaimType = (User.Identity as System.Security.Claims.ClaimsIdentity)?.NameClaimType;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        foreach(var obj in Model.GetDevices())
        {
            <p></p>
        }
    }

    <p></p>
</div>
